@charset "UTF-8";

body {

    background-image: url("logo2.jpg");
    background-repeat: no-repeat;
}
div#interface{
    width: 900px;
    background-color: #ffffff;
    margin: -20px auto 10px auto;
    box-shadow: 0px 0px 10px rgba  m(0,0,0,.5);
    padding: 10px 100px 10px 10px;
   }
img#logo {

   }
    p {
    text-align: justify;/* alinhamento de paragrafos*/
    text-indent: 50px;
   }